<div>
      <div className="flex justify-between items-center">
        <h1 className="scroll-m-20 text-2xl font-extrabold tracking-tight lg:text-3xl">
          title
        </h1>

        <div className="scroll-m-20 text-sm font-semibold tracking-tight ">
          <Button variant="outline" className="mr-2 text-gray-500">
            <Link href={`/vote/{vote.id}/edit`}>
              <RiEdit2Fill />
            </Link>
          </Button>
          <Button variant="outline" className="text-red-500">
            <Link href={`/vote/{vote.id}/delete`}>
              <BsTrash />
            </Link>
          </Button>
        </div>
      </div>
      <h2 className="scroll-m-20 text-lg font-semibold tracking-tight">
        Created by{" "}
        <Link
          href={`/user/{userWhoPost?.id}`}
          className="text-blue-500  hover:text-blue-600 focus:text-blue-600"
        >
          username
        </Link>
      </h2>
      <h2 className="scroll-m-20 text-xl font-semibold tracking-tight">
        description
      </h2>
      <h3 className="scroll-m-20 text-sm font-semibold tracking-tight text-gray-500">
        Created{" "}
        {/* {formatDistanceToNow(new Date("vote.created_at"), { addSuffix: true })} */}
      </h3>
      {/* {endDate > new Date() ? ( */}
      <h3 className="scroll-m-20 text-sm font-semibold tracking-tight text-green-500">
        Ends in{" "}
        {/* {formatDistanceToNow(new Date("vote.end_date"), { addSuffix: true })} */}
      </h3>
      ) : (
      <h3 className="scroll-m-20 text-sm font-semibold tracking-tight text-red-500">
        Ended{" "}
        {/* {formatDistanceToNow(new Date("vote.end_date"), { addSuffix: true })} */}
      </h3>
      {/* )} */}
    </div>